{
    "configurations": [
        {
            "name": "Deploy Cloud Function",
            "type": "cloudcode.cloudfunctions",
            "request": "launch",
            "functionName": "YOUR_FUNCTION_NAME",
            "gen": "GEN_1",
            "revision": "10",
            "entryPoint": "main",
            "testInput": "",
            "region": "us-east1",
            "runtime": "python311"
        }
    ]
}